<%= flash[:notice] %>
<div class='content-box'>
  <div><a href='<%= "#{@toy.url}" %>'><%= "#{@toy.title} by #{@toy.creator}" %></a></div>
</div>
<%= link_to("Edit app", edit_toy_path(@toy)) %>
<%= button_to("Delete app", toy_path(@toy), method: :delete, data: { confirm: "Are you sure you want to delete this?" }) %>
